/* source: https://www.behance.net/gallery/109167661/Notebook-Web-Application-Redesign */
/* quotes: https://blog.hubspot.com/sales/famous-quotes */

/* Global CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-bg-col: #fff;
    --secondary-bg-col: #F2F3F7;
    --grey-border-col: #ced4da;
    --input-bg-col: #f9faf8;
    --input-border-col: rgb(209 213 219);
    --input-focus-col: rgb(59 130 246);
    --primary-btn-col: rgb(78, 55, 255);
    --primary-btn-col-2: #4D47C3;
    --disabled-input-bg-col: rgba(220, 220, 220, 1);
    --error-text-col: #e74c3c;
    --text-grey-col: #63727e;
    --clock-width: 465px;
}

body {
    min-height: 100vh;
}

/* Navbar CSS */
nav {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    background-color: var(--primary-bg-col);
    border-bottom: 1px dotted gray;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.logo {
    width: 165px;
    height: auto;
}

.search-container {
    width: 50%;
}

.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.search-form input {
    width: 100%;
    height: 36px;
    padding: 0px 10px;
    background-color: rgb(239, 239, 239);
    border: none;
    outline: none;
}

.search-form button {
    padding: 10px;
    border: none;
    outline: none;
    height: 36px;
    background-color: rgb(239, 239, 239);
}

#nav-right-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100px;
    margin-right: 25px;
}

.dropdown-enabled-container {
    position: relative;
}

#nav-right-container .dropdown-enabled-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3.5px;
}

.user-container {
    cursor: pointer;
}

.user-container .img-container {
    border: 2px solid black;
    border-radius: 50%;
    /*display: inline-block;*/
    overflow: hidden;
    /*padding: 2px 2px 0px 2px;*/
    margin: 0px 7px 0px 10px;
}

.user-img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    border-radius: 50%;
}

#drop-down-arrow {
    cursor: pointer;
    transform: rotate(0deg);
    transition: all 0.45s ease;
}

#drop-down-arrow.active {
    transform: rotate(-180deg);
}

.dropdown-container {
    position: absolute;
    top: 120px;
    right: -10px;
    padding: 10px 20px;
    background: #fff;
    width: 200px;
    border-radius: 15px;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2);
    transition: .5s;
    visibility: hidden;
    opacity: 0;
    z-index: 100;
}

.dropdown-container.active {
    top: 55px;
    visibility: visible;
    opacity: 1;
}

.dropdown-container::before {
    content: '';
    position: absolute;
    top: -5px;
    right: 28px;
    width: 20px;
    height: 20px;
    background: #fff;
    transform: rotate(45deg);
}

.dropdown-container .profile-name {
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 20px 0px 15px 0px;
    font-weight: 600;
    font-size: 18px;
    color: #555;
    line-height: 1.2em;
}

.dropdown-container .profile-email {
    font-size: 14px;
    color: rgb(128, 142, 154);
    font-weight: 400;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

#user-dropdown-menu li {
    list-style: none;
    padding: 10px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
}

#user-dropdown-menu li i {
    font-size: 26px;
    width: 32px;
    margin-right: 10px;
    opacity: .6;
    transition: .5s;
}

#user-dropdown-menu li:hover i {
    opacity: 1;
}

#user-dropdown-menu li a {
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #555;
    font-weight: 500;
    transition: .5s;
}

#user-dropdown-menu li a:hover {
    color: #4834d4
}

@media only screen and (max-width: 700px) {
    .search-form{
        display: none;
    }
}

/* Main Content CSS */
.header-container {
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px 5px 10px 5px;
    background-color: var(--secondary-bg-col);
    margin-top: 70px;
}

.header-container>div {
    background-color: var(--primary-bg-col);
    padding: 15px 10px;
    border-radius: 10px;
    margin: 0px 5px;
    height: 100%;
}

#header-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

#greetings-para {
    text-align: center;
}

#greetings-para span {
    display: inline-block;
    width: 100%;
    font-size: 25px;
    font-weight: 600;
}

#header-mid {
    min-width: 55%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#header-mid .left-container {
    border: 0.1px dotted gray;
    border-radius: 7px;
    overflow: hidden;
    min-width: 60px;
}

#header-mid .right-container {
    padding-left: 10px;
}

#header-mid .right-container q {
    display: inline-block;
    text-align: justify;
    width: 100%;
    font-weight: 500;
}

#header-mid .right-container p {
    text-align: end;
    font-style: oblique;
}

#header-right {
    position: relative;
    width: var(--clock-width);
    min-width: var(--clock-width);
    padding: 0px;
    overflow: hidden;                               /* Check Clock.js CSS */
}

main {
    height: calc(100vh - 70px);
    background-color: var(--secondary-bg-col);
}

#notes-container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    overflow-x: hidden;
}

.add-note-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.add-note-container button {
    border: none;
    outline: none;
    padding: 15px 13px;
    border-radius: 6px;
    cursor: pointer;
}

@media only screen and (max-width: 1430px) {
    #header-mid {
        width: 90%;
    }

    #header-right {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    #header-left {
        width: 90%;
    }

    #header-mid {
        display: none;
    }
}

/* Note CSS */
.note-container {
    margin: 5px;
    padding: 10px;
    border: 1px solid var(--grey-border-col);
    border-radius: 10px;
    width: 30%;
    height: 285px;
    max-width: 285px;
    min-width: 225px;
    background-color: var(--primary-bg-col);
}

.note-container .img-wrapper {
    width: 100%;
    height: 37px;
    overflow: hidden;
    border-radius: 5px;
}

.note-container .img-wrapper img {
    width: 100%;
}

.note-container .container {
    display: grid;
    grid-template-columns: 9fr 1fr;
    margin-top: 10px;
    height: calc(100% - 10px - 20px - 5px);
    overflow: hidden;
}

.note-container .container .left {
    padding: 0px 10px 10px 0px;
    overflow: hidden;
}

.note-container .note-title {
    margin-bottom: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.note-container .note-content {
    height: calc(100% - 47px);             /* 36.8px - title + 10px - padding */
    overflow: hidden;
}

.note-container .container .right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.note-container .container .right button {
    /* background-color: transparent;
    color: black;
    font-size: 14px; */
    cursor: pointer;
    outline: none;
    border: none;
    width: unset;
    height: unset;
    padding: 10px;
    border-radius: 50%;
    transition: all 0.3s ease;
}

#star-btn {
    cursor: not-allowed;
    /* pointer-events: none; */
}

/* New Note CSS */
.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent black overlay */
    backdrop-filter: blur(5px);
    /* Apply a blur effect */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    /* Ensure the modal is on top */
}

.modal-container {
    background: var(--primary-bg-col);
    border-radius: 7px;
    overflow: hidden;
    padding: 15px 0px;
    max-height: 100%;
    overflow-y: auto;
    width: 500px;
    /* Unset - in media query */
}

.modal-container header {
    padding: 0px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
    text-align: center;
}

.pen-img-wrapper img {
    max-width: 100px;
    width: auto;
    height: auto;
}

.note-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 5%;
}

label {
    margin-bottom: 0.25rem;
    font-weight: 500;
    font-size: 0.95rem;
    color: rgb(55 65 81);
}

.note-form label {
    width: 100%;
    max-width: 400px;
}

.note-form input {
    /* margin-bottom: 20px; */
    background-color: var(--input-bg-col);
    border: 0.1px solid var(--input-border-col);
    border-radius: 8px;
    padding: 10px;
    font-family: inherit;
    font-size: 1rem;
    line-height: 1.5;
    color: #000000;
    appearance: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    outline: none;
    resize: none;
    width: 100%;
    max-width: 400px;
    /* min-width: 300px; */
    transition: all .2s ease-out;
}

/* .error-text {
    margin-bottom: 20px;
} */

/* .note-form input:focus{
    outline-color: var(--input-focus-col);
} */

.note-form textarea {
    height: auto;
    min-height: 100px;
    max-height: 200px;
    width: 100%;
    /* min-width: 250px; */
    max-width: 400px;
    overflow: auto;
    background: var(--input-bg-col);
    border: 0.1px solid var(--input-border-col);
    border-radius: 8px;
    /* margin-bottom: 20px; */
    padding: 5px 6px;
}

.priority-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.priority-buttons button {
    padding: 10px 15px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 10px;
}

/* .selected {
    background-color: #007BFF;
    color: white;
    border-color: #007BFF;
  } */

.high-priority .selected {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.medium-priority .selected {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.low-priority .selected {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
    margin: 0px !important;
}

.note-form .btn-container {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    margin-top: 30px;
    gap: 5px;
}

.note-form button[type="submit"] {
    /* background: #ff7f7f; */
    background: var(--primary-btn-col);
    color: white;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.9);
    transition: all 0.3s ease-in-out;
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    user-select: none;
}

/* Register CSS */
#register-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#register-container .left {
    padding: 4% 8% 8% 8%;
}

.signup-login-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    text-align: left;
    margin: 5px 0px 30px 0px;
}

/* .signup-login-header h1{
    min-width: 124px;
} */

.signup-login-header span {
    display: inline-block;
}

#register-form {
    display: flex;
    flex-direction: column;
    /* padding: 50px 80px;
    height: auto;
    min-height: calc(100vh - 100px);
    position: relative; */
    overflow: hidden;
    z-index: 1;
}

#register-form input {
    /* margin-bottom: 20px; */
    background-color: var(--input-bg-col);
    border: 0.1px solid var(--input-border-col);
    border-radius: 8px;
    padding: 10px;
    font-family: inherit;
    font-size: 1rem;
    line-height: 1.5;
    color: #000000;
    appearance: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    outline: none;
    resize: none;
    width: 100%;
    /* max-width: 400px; */
    /* min-width: 300px; */
    transition: all .2s ease-out;
}

#signup-name {
    display: flex;
    gap: 7px;
    /* margin-bottom: 20px; */
}

#register-container .right {
    background: url('./assests/register.png') no-repeat center center;
    object-fit: cover;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

@media only screen and (max-width: 750px) {
    #register-container {
        display: block;
    }

    #register-container .right {
        display: none;
    }
}

/* Login CSS */
#login-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#login-container .left {
    background: url('./assests/login.jpg') no-repeat center center;
    object-fit: cover;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

#login-container .right {
    padding: 4% 8% 8% 8%;
}

#login-form {
    display: flex;
    flex-direction: column;
    /* padding: 50px 80px;
    height: auto;
    min-height: calc(100vh - 100px);
    position: relative; */
    overflow: hidden;
    z-index: 1;
}

#login-form input {
    /* margin-bottom: 20px; */
    background-color: var(--input-bg-col);
    border: 0.1px solid var(--input-border-col);
    border-radius: 8px;
    padding: 10px;
    font-family: inherit;
    font-size: 1rem;
    line-height: 1.5;
    color: #000000;
    appearance: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    outline: none;
    resize: none;
    width: 100%;
    /* max-width: 400px; */
    /* min-width: 300px; */
    transition: all .2s ease-out;
}

@media only screen and (max-width: 750px) {
    #login-container {
        display: block;
    }

    #login-container .left {
        display: none;
    }
}

/* Dotted Loader CSS */
.dotted-loader {
    width: 53px;
    aspect-ratio: 4;
    --_g: no-repeat radial-gradient(circle closest-side, #fff 90%, #0000);
    background:
        var(--_g) 0% 50%,
        var(--_g) 50% 50%,
        var(--_g) 100% 50%;
    background-size: calc(100%/3) 100%;
    animation: l7 1s infinite linear;
}

@keyframes l7 {
    33% {
        background-size: calc(100%/3) 0%, calc(100%/3) 100%, calc(100%/3) 100%
    }

    50% {
        background-size: calc(100%/3) 100%, calc(100%/3) 0%, calc(100%/3) 100%
    }

    66% {
        background-size: calc(100%/3) 100%, calc(100%/3) 100%, calc(100%/3) 0%
    }
}

/* 3rd Party CSS */
/* .iti__flag {background-image: url("path/to/flags.png");}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {background-image: url("path/to/flags@2x.png");}
} */

/* Clock CSS */
#canvas {
    position: absolute;
    width: 465px;
    height: 100%;
    background-color: #fff;
    background-repeat: no-repeat;
    background-image: url(http://www.chabudai.org/temp/wonderfl/honehone/img/tenten.gif);
    background-position-y: 127%;
}

#hour1 {
    position: absolute;
    width: 80px;
    height: 100px;
    top: 0px;
    left: 40px;
    background-repeat: no-repeat;
    background-image: url(http://www.chabudai.org/temp/wonderfl/honehone/img/honehone1.gif);
}

#hour2 {
    position: absolute;
    width: 80px;
    height: 100px;
    top: 0px;
    left: 80px;
    background-repeat: no-repeat;
    background-image: url(http://www.chabudai.org/temp/wonderfl/honehone/img/honehone1.gif);
}

#minute1 {
    position: absolute;
    width: 80px;
    height: 100px;
    top: 0px;
    left: 170px;
    background-repeat: no-repeat;
    background-image: url(http://www.chabudai.org/temp/wonderfl/honehone/img/honehone1.gif);
}

#minute2 {
    position: absolute;
    width: 80px;
    height: 100px;
    top: 0px;
    left: 210px;
    background-repeat: no-repeat;
    background-image: url(http://www.chabudai.org/temp/wonderfl/honehone/img/honehone1.gif);
}

#second1 {
    position: absolute;
    width: 80px;
    height: 100px;
    top: 0px;
    left: 300px;
    background-repeat: no-repeat;
    background-image: url(http://www.chabudai.org/temp/wonderfl/honehone/img/honehone1.gif);
}

#second2 {
    position: absolute;
    width: 80px;
    height: 100px;
    top: 0px;
    left: 340px;
    background-repeat: no-repeat;
    background-image: url(http://www.chabudai.org/temp/wonderfl/honehone/img/honehone1.gif);
}


/*======================
    404 page
=======================*/


.page_404 {
    padding: 40px 0;
    background: #fff;
    font-family: 'Arvo', serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.page_404 img {
    width: 100%;
}

.four_zero_four_bg {
    background-image: url("https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif");
    height: 400px;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
}


.four_zero_four_bg h1 {
    font-size: 80px;
    font-family: 'Arvo', serif;
    text-align: center;
}

.four_zero_four_bg h3 {
    font-size: 80px;
    font-family: 'Arvo', serif;
    text-align: center;
}

.link_404 {
    color: #fff !important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
}

.contant_box_404 {
    margin-top: -50px;
    font-family: 'Arvo', serif;
    text-align: center;
}

/* Cookie CSS */
.cookie-container {
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 40px;
    padding: 36px 24px 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 8px 0px, rgba(0, 0, 0, 0.08) 0px 2px 4px 0px;
    border-radius: 8px;
    background: var(--primary-bg-col);
    z-index: 1000;
}

.cookie-container>div {
    flex: 1 1 100%;
}

.cookie-img {
    position: absolute;
    top: 0px;
    width: 64px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cookie-text {
    font-size: 14px;
    font-family: 'Arvo';
    line-height: 1.5;
    text-align: center;
    color: var(--text-grey-col);
    margin-bottom: 18px;
}

.cookie-btn-container {
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cookie-btn-container a {
    color: rgb(128, 142, 154);
    font-size: 12px;
    text-decoration: none;
}

.cookie-btn-container button {
    background: rgb(0, 193, 162);
    border: 0px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    flex: 0 0 auto;
    padding: 8px 32px;
    margin: 0px;
    width: 100px;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
}

@media only screen and (min-width: 750px) {
    .cookie-container {
        width: 250px;
        margin: 0px;
        bottom: 40px;
        left: 40px;
    }
}

@media only screen and (max-width: 325px) {
    .cookie-btn-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
}

/* MISC */
.signup-login-btn {
    border-radius: 10px;
    background: var(--primary-btn-col-2);
    /* box-shadow: 0px 0px 4px 1px rgba(77, 71, 195, 0.40);
    margin: 3px; */
    /* If want to show box-shadow */
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    /* padding: 13px 15px; */
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    height: 49px;
}

.btn-container button {
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    letter-spacing: 1px;
    background: transparent;
    transition: all 0.3s ease-in-out;
}

.flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.default-disabled {
    display: none;
}

.disabled-input {
    cursor: not-allowed !important;
    background: var(--disabled-input-bg-col) !important;
}

.error-text {
    color: var(--error-text-col);
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 20px;
    transition: all 0.3s ease-in-out;
}

.show-dropdown {
    display: block !important;
    opacity: 1 !important;
}